# Database connection string
DATABASE_URL="postgresql://user:password@localhost:5432/dailypuzzle?schema=public"

# Express server port
PORT=8000

# Client base url for CORS (if needed)
CLIENT_URL="http://localhost:5173"
